/**
 * Font definition.
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nobile:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/**
 * SASS functions for utility.
 */
/**
 * Replicate map_get in a simpler, two-branch method.
 * @usage: palette($color, gray, medium);
 */
/**
 * Basic element styling.
 */
/**
 * Theme-wide settings.
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: transparent;
  margin: 0;
}

/**
 * Make sure all of this only happens after admin toolbars and such.
 */
.layout-container {
  font-family: "Nobile", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.layout-container h1, .layout-container h2, .layout-container h3, .layout-container h4, .layout-container h5, .layout-container h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.layout-container h1 strong, .layout-container h2 strong, .layout-container h3 strong, .layout-container h4 strong, .layout-container h5 strong, .layout-container h6 strong {
  font-weight: 800;
}
.layout-container h1 {
  font-size: 40px;
  font-weight: 700;
}
.layout-container h2 {
  color: #1fab57;
  font-size: 40px;
}
.layout-container strong {
  font-weight: 700;
}
.layout-container a,
.layout-container a:visited,
.layout-container a:active {
  color: #669966;
}
.layout-container a:hover,
.layout-container a:visited:hover,
.layout-container a:active:hover {
  color: #99cc99;
}
.layout-container dt, .layout-container dd {
  display: inline-block;
}
.layout-container dt {
  font-weight: bold;
}
.layout-container dt:after {
  content: ": ";
}
.layout-container dd {
  margin-left: 0;
}

.button {
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  padding: 15px 15px 10px 15px;
}

/**
 * Styles defining basic layout, including Layout Builder specs.
 */
/**
 * SASS mixins for utility and styles.
 */
/**
 * Expected to be added to ul or ol elements, to conform their list items to
 * tabs.
 */
header {
  background: url("../images/header_bg.png") no-repeat scroll center center/cover #b6b6b6;
}

main {
  background-color: #ddd;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  background-color: #222;
  color: #fff;
  overflow: hidden;
}
@media (min-width: 1080px) {
  footer > .container {
    display: flex;
  }
}
footer .region {
  flex: 1 1 50%;
}
@media (min-width: 1080px) {
  footer .region:last-child {
    text-align: right;
  }
}
footer .block {
  margin: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.container-breakout {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  position: relative;
  right: 50%;
  width: 100vw;
}

.layout {
  background-color: #ddd;
}

.layout-content {
  padding: 0 20px;
}
.layout--twocol-section > .layout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}
.layout-content > .layout__region {
  padding: 0 15px;
}

.layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--second,
.layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--first {
  width: 100%;
}
@media (min-width: 1080px) {
  .layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--first {
    max-width: 67%;
    width: auto;
  }
}

.layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--first,
.layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--second {
  width: 100%;
}
@media (min-width: 1080px) {
  .layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--second {
    max-width: 33%;
    min-width: 400px;
    width: auto;
  }
}

.layout__region {
  padding: 20px 0;
}

/**
 * Navigation styles.
 */
nav.nav--menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}
nav.nav--menu a.home-link {
  display: block;
  color: #1fab57;
  flex: 1;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
}
nav.nav--menu a.home-link:hover {
  color: #000;
}
nav.nav--menu a.home-link:hover:before, nav.nav--menu a.home-link:hover:after {
  color: #1fab57;
}
nav.nav--menu a.home-link, nav.nav--menu a.home-link:before, nav.nav--menu a.home-link:after {
  transition: color 0.1s linear;
}
nav.nav--menu a.home-link:before, nav.nav--menu a.home-link:after {
  color: #000;
  content: "Jessica Wayde";
  position: absolute;
}
nav.nav--menu a.home-link:before {
  left: -2px;
  top: -2px;
  z-index: 2;
}
nav.nav--menu a.home-link:after {
  left: 2px;
  top: 2px;
  z-index: -1;
}

ul.menu,
ol.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 16px 0;
  padding: 0;
}
ul.menu li,
ol.menu li {
  list-style: none;
  margin: 0 0 5px;
  padding: 0;
  text-align: center;
}
ul.menu li a,
ol.menu li a {
  text-decoration: none;
}
@media (min-width: 760px) {
  ul.menu,
  ol.menu {
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px 0;
  }
  ul.menu li,
  ol.menu li {
    margin: 0;
  }
}

header ul.menu li {
  display: inline-block;
  margin-right: 30px;
}
header ul.menu li a,
header ul.menu li a:visited,
header ul.menu li a:active {
  color: #222;
}
header ul.menu li a:hover,
header ul.menu li a:visited:hover,
header ul.menu li a:active:hover {
  color: #222;
  text-decoration: underline;
}

header.theme--light ul.menu li a,
header.theme--light ul.menu li a:visited,
header.theme--light ul.menu li a:active {
  color: #fff;
}

footer ul.menu {
  margin: 20px 0;
}

ol.menu.menu--breadcrumbs {
  position: relative;
}
ol.menu.menu--breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

.menu.menu--local {
  border-bottom: #222 1px solid;
}
.menu.menu--local li {
  background-color: #ddd;
  border: #222 1px solid;
  bottom: -1px;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  position: relative;
}
.menu.menu--local li:hover {
  background-color: #b6b6b6;
}
.menu.menu--local li a {
  color: #3366cc;
  text-decoration: none;
}
.menu.menu--local li a.is-active {
  color: #222;
}
.menu.menu--local li.is-active {
  border-bottom-width: 0;
  padding-bottom: 6px;
}
.menu.menu--local li.is-active:hover {
  background-color: #ddd;
}

ul.tabs,
li.tabs {
  border-bottom: #222 1px solid;
}
ul.tabs li,
li.tabs li {
  background-color: #ddd;
  border: #222 1px solid;
  bottom: -1px;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  position: relative;
}
ul.tabs li:hover,
li.tabs li:hover {
  background-color: #b6b6b6;
}
ul.tabs li a,
li.tabs li a {
  color: #3366cc;
  text-decoration: none;
}
ul.tabs li a.is-active,
li.tabs li a.is-active {
  color: #222;
}
ul.tabs li.is-active,
li.tabs li.is-active {
  border-bottom-width: 0;
  padding-bottom: 6px;
}
ul.tabs li.is-active:hover,
li.tabs li.is-active:hover {
  background-color: #ddd;
}

/**
 * Drupal field and field component styling.
 */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media (min-width: 1080px) {
  .hero {
    min-height: 50vh;
  }
}

.hero-inner {
  color: #ddd;
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: 84px;
  margin: 1rem 0;
}

h2.hero-subtitle {
  color: #000;
}
h2.hero-subtitle em {
  color: #1fab57;
  font-style: normal;
}

.hero-image {
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -999;
}

@keyframes bigbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes mediumbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes smallbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-25px);
  }
}
@keyframes bigsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(75%) translateY(25%);
  }
}
@keyframes mediumsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(87.5%) translateY(12.5%);
  }
}
@keyframes smallsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(93.75%) translateY(6.25%);
  }
}
.toaster {
  align-items: center;
  bottom: 50px;
  box-shadow: 0 0 20px white, inset 0 0 50px white;
  border: 6px solid #000;
  border-radius: 50%;
  display: flex;
  height: 75px;
  opacity: 0;
  position: fixed;
  transition: opacity 0.35s ease-in;
  width: 75px;
  z-index: 999;
}
.toaster.visible {
  animation: 0.475s ease-out bigbounce, 0.475s ease-out 0.475s reverse bigbounce, 0.05s linear 0.95s bigsquish, 0.05s linear 1s reverse bigsquish, 0.2375s ease-out 1.05s mediumbounce, 0.2375s ease-out 1.2875s reverse mediumbounce, 0.025s linear 1.525s mediumsquish, 0.025s linear 1.55s reverse mediumsquish, 0.12s ease-out 1.575s smallbounce, 0.12s ease-out 1.7s reverse smallbounce, 0.01s linear 1.92s smallsquish, 0.01s linear 1.93s reverse smallsquish;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.toaster.visible.finished, .toaster.visible:hover {
  opacity: 0;
}
.toaster:after, .toaster:before {
  border: solid #000;
  content: "";
  display: block;
  position: absolute;
}
.toaster:before {
  border-width: 0 6px 0 0;
  height: 75%;
  left: -13px;
  width: 75%;
}
.toaster:after {
  border-width: 0 0 6px 6px;
  bottom: 10px;
  height: 50%;
  left: 15px;
  transform: rotateZ(-45deg);
  width: 50%;
}

.footer-image {
  background-attachment: fixed;
  position: relative;
  height: 400px;
}
.footer-image:before {
  background: linear-gradient(#ddd, rgba(0, 0, 0, 0));
  content: "";
  display: block;
  height: 400px;
  width: 100%;
  z-index: 10;
}

.field--title {
  text-align: center;
}
.theme--light .field--title {
  color: #fff;
}

.field--taxonomy {
  margin: 30px 0;
}
.field--taxonomy .field-label {
  margin-bottom: 15px;
}
.field--taxonomy .field-value {
  color: #000;
}

.field--field-tags {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 25px;
}
.field--field-tags .field-value {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
}

.field--body,
.field--field-live-url,
.field--field-client,
.field--field-source-status,
.field--field-time-period {
  font-size: 20px;
  line-height: 1.5;
}

.field--field-skills-used {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.field--field-skills-used .field-value {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px;
}

.field--body > p:first-child {
  margin-top: 0;
}

/**
 * Styles defining content, such as nodes and taxonomy terms.
 */
.block .block-title {
  text-align: center;
}

.views-view--project-list {
  background: url("../images/teasers_bg.png") repeat scroll transparent;
}
.views-view--project-list .views-row {
  opacity: 0;
  position: relative;
  transition: opacity 0.2s ease-in-out, left 0.2s ease-in-out;
}
.views-view--project-list .views-row:nth-child(odd).loaded, .views-view--project-list .views-row:nth-child(even).loaded {
  left: 0;
  opacity: 1;
}
.views-view--project-list .views-row:nth-child(odd) {
  left: -200px;
}
.views-view--project-list .views-row:nth-child(even) {
  left: 200px;
}
.views-view--project-list .node {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
}
@media (min-width: 1280px) {
  .views-view--project-list .node {
    flex-direction: row;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .views-view--project-list .views-row:nth-child(even) .node {
    flex-direction: row-reverse;
    text-align: right;
  }
}
.views-view--project-list a.node-inner {
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.views-view--project-list a.node-inner:hover .field--field-thumbnail {
  opacity: 0.2;
}
.views-view--project-list a.node-inner:hover .title {
  opacity: 1;
}
.views-view--project-list .field--field-thumbnail {
  opacity: 1;
  z-index: 1;
}
.views-view--project-list .title {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-width: 1040px;
  opacity: 0;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.views-view--project-list .field--field-thumbnail,
.views-view--project-list .title {
  transition: opacity 0.2s ease-in-out;
}
.views-view--project-list .title h4,
.views-view--project-list .field--field-tagline {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: bold;
}
.views-view--project-list .title h4 {
  text-shadow: 2px 2px 5px #666;
}
.views-view--project-list .field--field-tagline {
  color: #000;
  padding: 30px;
}
.views-view--project-list .views-row:nth-child(3n+3) .field--field-tagline {
  color: #1fab57;
}

.views-row {
  margin-bottom: 30px;
}
@media (min-width: 760px) {
  .views-row {
    flex: 1 1 50%;
  }
}
@media (min-width: 1080px) {
  .views-row {
    flex: 1 1 33%;
  }
}

.node--article--teaser {
  position: relative;
  text-align: center;
}
.node--article--teaser .node-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.node--article--teaser a.node-title {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
}
.node--article--teaser a.node-title:hover {
  color: #99cc99;
}

/**
 * Styles defining media, such as Image media.
 */
.field--field-images {
  margin: 30px 0;
}

.slick-slide-wrapper {
  position: relative;
}
.slick-slide-wrapper img.frame {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  max-height: -moz-max-content;
  max-height: max-content;
}
.slick-slide-wrapper .field--field-media-image {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.slick-slide-wrapper .field--field-media-image img {
  background-color: white;
  max-height: -moz-max-content;
  max-height: max-content;
  max-width: 100%;
}
.slick-slide-wrapper.desktop {
  margin-bottom: 60px;
}
.slick-slide-wrapper.desktop img.frame {
  max-width: 100%;
}
.slick-slide-wrapper.desktop .field--field-media-image {
  aspect-ratio: 1.5;
  max-width: 93%;
  top: 2px;
}
@media (min-width: 760px) {
  .slick-slide-wrapper.desktop .field--field-media-image {
    top: 5px;
  }
}
@media (min-width: 1080px) {
  .slick-slide-wrapper.desktop .field--field-media-image {
    top: 10px;
  }
}
@media (min-width: 1280px) {
  .slick-slide-wrapper.desktop .field--field-media-image {
    top: 19px;
  }
}
.slick-slide-wrapper.mobile {
  margin: 0 auto;
  max-width: 400px;
}
.slick-slide-wrapper.mobile .field--field-media-image {
  aspect-ratio: 0.46;
  max-width: 90%;
  top: 15px;
}
.slick-slide-wrapper .toaster-container {
  position: absolute;
  top: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.slick-slide-wrapper .toaster {
  pointer-events: none;
  position: relative;
  z-index: 1;
}
.slick-slide-wrapper:hover .toaster {
  opacity: 0;
}

.image-zoom-container {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}
@media (min-width: 1080px) {
  .image-zoom-container {
    min-height: 525px;
  }
}

.image-zoom {
  overflow: visible !important;
  z-index: 2;
}

img.zoomImg {
  z-index: 5;
}

.field--field-caption {
  background-color: #fff;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 50px;
  overflow: hidden;
  padding: 15px;
}
.field--field-caption p {
  margin: 0;
}

.slick-prev, .slick-next {
  border: 2px solid black;
  border-radius: 15%;
  box-shadow: 0 0 20px white, inset 0 0 20px white;
  height: 40px;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  width: 25px;
}
.slick-prev:before, .slick-next:before {
  color: black;
}
.slick-prev:hover, .slick-next:hover {
  opacity: 1;
}