/**
 * Drupal field and field component styling.
 */
@use 'vars';
@use 'functions';
@use 'mixins';
@use 'sass:map';

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include mixins.size-desktop() {
    min-height: map.get(vars.$heights, hero);
  }
}

.hero-inner {
  color: functions.palette(vars.$colors, gray, light);
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: map.get(vars.$font-size, enormous);
  margin: 1rem 0;
}

h2.hero-subtitle {
  color: functions.palette(vars.$colors, black, true);
  em {
    color: functions.palette(vars.$layout-colors, main, highlight);
    font-style: normal;
  }
}

.hero-image {
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -999;
}

@keyframes bigbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes mediumbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes smallbounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-25px);
  }
}
@keyframes bigsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(75%) translateY(25%);
  }
}
@keyframes mediumsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(87.5%) translateY(12.5%);
  }
}
@keyframes smallsquish {
  from {
    transform: scaleY(1) translateY(0);
  }
  to {
    transform: scaleY(93.75%) translateY(6.25%);
  }
}

.toaster {
  bottom: 50px;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  height: 75px;
  opacity: 0;
  position: fixed;
  transition: opacity .35s ease-in;
  width: 75px;
  z-index: 999;
  &.visible {
    animation: .475s ease-out bigbounce, .475s ease-out .475s reverse bigbounce,
      .05s linear .95s bigsquish, .05s linear 1s reverse bigsquish,
      .2375s ease-out 1.05s mediumbounce, .2375s ease-out 1.2875s reverse mediumbounce,
      .025s linear 1.525s mediumsquish, .025s linear 1.55s reverse mediumsquish,
      .12s ease-out 1.575s smallbounce, .12s ease-out 1.7s reverse smallbounce,
      .01s linear 1.92s smallsquish, .01s linear 1.93s reverse smallsquish;
    opacity: 1;
    transition: opacity .5s ease-in;
    &.finished {
      opacity: 0;
    }
  }
}

.footer-image {
  background-attachment: fixed;
  position: relative;
  height: map.get(vars.$heights, footer-image);
  &:before {
    background: linear-gradient(functions.palette(vars.$layout-colors, main, bg), rgba(0,0,0,0));
    content: '';
    display: block;
    height: map.get(vars.$heights, footer-image);
    width: 100%;
    z-index: 10;
  }

}

.field--title {
  text-align: center;
  .theme--light & {
    color: functions.palette(vars.$colors, white, true);
  }
}

.field--taxonomy {
  margin: 30px 0;

  .field-label {
    margin-bottom: 15px;
  }

  .field-value {
    color: map.get(vars.$layout-colors, main, text);
  }
}

.field--field-tags {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  gap: 25px;

  .field-value {
    font-size: map.get(vars.$font-size, giant);
    font-style: italic;
    font-weight: 700;
    line-height: 1;
  }
}

.field--body,
.field--field-live-url,
.field--field-client,
.field--field-source-status,
.field--field-time-period {
  font-size: map.get(vars.$font-size, big);
  line-height: 1.5;
}

.field--field-skills-used {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .field-value {
    // font-size: map.get(vars.$font-size, huge);
    border: 1px solid functions.palette(vars.$layout-colors, main, shadow);
    border-radius: 10px;
    padding: 10px;
  }
}

.field--body > p:first-child {
  margin-top: 0;
}
