/**
 * Drupal field and field component styling.
 */
@use 'vars';
@use 'functions';
@use 'mixins';
@use 'sass:map';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.size-desktop() {
    min-height: map.get(vars.$heights, hero);
  }
}

.hero-inner {
  color: functions.palette(vars.$colors, gray, light);
  text-align: center;
  z-index: 1;
}

.hero-title {
  font-size: map.get(vars.$font-size, enormous);
  margin: 1rem 0;
}

.hero-image {
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -999;
}

.footer-image {
  background-attachment: fixed;
  position: relative;
  height: map.get(vars.$heights, footer-image);
  &:before {
    background: linear-gradient(functions.palette(vars.$layout-colors, main, bg), rgba(0,0,0,0));
    content: '';
    display: block;
    height: map.get(vars.$heights, footer-image);
    width: 100%;
    z-index: 10;
  }

}