/**
 * Styles defining basic layout, including Layout Builder specs.
 */
@use 'vars';
@use 'functions';
@use 'mixins';
@use 'sass:map';

header {
  background: url("../images/header_bg.png") no-repeat scroll center center / cover functions.palette(vars.$layout-colors, header, bg);
}

main {
  min-height: 100vh; // Quick solution to make the footer stick to bottom.
  overflow-x: hidden;
}

footer {
  background-color: functions.palette(vars.$layout-colors, footer, bg);
  color: functions.palette(vars.$colors, white, true);
  overflow: hidden;

  > .container {
    @include mixins.size-desktop() {
      display: flex;
    }
  }
  .region {
    flex: 1 1 50%;
    &:last-child {
      @include mixins.size-desktop() {
        text-align: right;
      }
    }
  }

  .block {
    margin: 20px;
  }
}
.layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--second,
.layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--first {
  flex: 0 1 67%;
}

.layout--twocol-section.layout--twocol-section--33-67 > .layout-content > .layout__region--first,
.layout--twocol-section.layout--twocol-section--67-33 > .layout-content > .layout__region--second {
  flex: 0 1 33%;
}

.container {
  margin: 0 auto;
  max-width: map.get(vars.$widths, desktop);
}

.container-breakout {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  position: relative;
  right: 50%;
  width: 100vw;
}

.layout {
  background-color: functions.palette(vars.$layout-colors, main, bg);
}

.layout-content {
  padding: 0 vars.$main-gutter;
  .layout--twocol-section > & {
    display: flex;
    flex-wrap: wrap;
  }
  > .layout__region {
    padding: 0 15px;
  }
}

.layout__region {
  padding: vars.$main-gutter 0;
}
