/**
 * SASS mixins for utility and styles.
 */

@use 'vars';
@use 'functions';
@use 'sass:map';

/**
 * Expected to be added to ul or ol elements, to conform their list items to
 * tabs.
 */
@mixin tabs {
  border-bottom: functions.palette(vars.$tabs, border, color) functions.palette(vars.$tabs, border, width) solid;

  li {
    background-color: functions.palette(vars.$tabs, background, default);
    border: functions.palette(vars.$tabs, border, color) functions.palette(vars.$tabs, border, width) solid;
    bottom: 0 - functions.palette(vars.$tabs, border, width);
    display: inline-block;
    margin: functions.palette(vars.$tabs, tab, margin);
    padding: functions.palette(vars.$tabs, tab, padding);
    position: relative;
    &:hover {
      background-color: functions.palette(vars.$tabs, background, hover);
    }

    a {
      color: functions.palette(vars.$tabs, link, inactive);
      text-decoration: none;
      &.is-active {
        color: functions.palette(vars.$tabs, link, active);
      }
    }

    &.is-active {
      border-bottom-width: 0;
      padding-bottom: functions.palette(vars.$tabs, tab, padding) + functions.palette(vars.$tabs, border, width);
      &:hover {
        background-color: functions.palette(vars.$tabs, background, default);
      }
    }
  }
}

// Responsive sizes here.

@mixin size-mobile {
  @media (min-width: #{map.get(vars.$widths, mobile)}) {
    @content;
  }
}

@mixin size-desktop {
  @media (min-width: #{map.get(vars.$widths, desktop)}) {
    @content;
  }
}

@mixin size-widescreen {
  @media (min-width: #{map.get(vars.$widths, widescreen)}) {
    @content;
  }
}
