/**
 * Navigation styles.
 */
@use 'vars';
@use 'functions';
@use 'mixins';
@use 'sass:map';

nav.nav--menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;

  a.home-link {
    display: block;
    color: map.get(vars.$layout-colors, header, headline);
    flex-grow: 2;
    font-size: map.get(vars.$font-size, giant);
    font-style: italic;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
    &:hover {
      color: map.get(vars.$layout-colors, header, text);
      &:before,
      &:after {
        color: map.get(vars.$layout-colors, header, headline);
      }
    }
    &,
    &:before,
    &:after {
      transition: color .1s linear;
    }
    &:before,
    &:after {
      color: map.get(vars.$layout-colors, header, text);
      content: "Jessica Wayde";
      position: absolute;
    }
    &:before {
      left: -2px;
      top: -2px;
      z-index: 2;
    }
    &:after {
      left: 2px;
      top: 2px;
      z-index: -1;
    }
  }
}

ul.menu,
ol.menu {
  list-style: none;
  margin: 16px 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
    }
  }
}

header ul.menu li {
  display: inline-block;
  margin-right: 30px;

  a,
  a:visited,
  a:active {
    color: functions.palette(vars.$colors, gray, dark);
    &:hover {
      color: functions.palette(vars.$colors, gray, dark);
      text-decoration: underline;
    }
  }
}

header.theme--light ul.menu li {
  a,
  a:visited,
  a:active {
    color: functions.palette(vars.$colors, white, true);
  }
}

footer {
  ul.menu {
    margin: 20px 0;
  }
}

ol.menu.menu--breadcrumbs {
  position: relative;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.menu.menu--local {
  @include mixins.tabs;
}

ul.tabs,
li.tabs {
  @include mixins.tabs;
}
