/**
 * Theme-wide settings.
 */
@use 'fonts';
@use 'functions';

$widths: (
  desktop: 1080px,
  mobile: 760px,
);
$main-gutter: 20px;

$heights: (
  hero: 600px,
  footer-image: 400px,
);

$font-size: (
  small: 12px,
  regular: 16px,
  big: 20px,
  huge: 30px,
  giant: 40px,
  billboard: 60px,
  enormous: 84px,
);

$body-font: fonts.$nobile-normal;
$headline-font: fonts.$lato-normal;

$colors: (
  white: (
    true: #fff,
  ),
  gray: (
    light: #ddd,
    medium: #b6b6b6,
    medium-dark: #666,
    dark: #222,
  ),
  blue: (
    light: #6699ff,
    medium: #3366cc,
    dark: #003399,
  ),
  green: (
    light: #99cc99,
    highlight: #1fab57,
    medium: #669966,
  ),
  black: (
    true: #000,
  ),
);

$layout-colors: (
  header: (
    bg: functions.palette($colors, gray, medium),
    text: functions.palette($colors, black, true),
    headline: functions.palette($colors, green, highlight),
  ),
  main: (
    bg: functions.palette($colors, gray, light),
    highlight: functions.palette($colors, green, highlight),
    lowlight: functions.palette($colors, blue, light),
  ),
  footer: (
    bg: functions.palette($colors, gray, dark),
  ),
);

$tabs: (
  tab: (
    padding: 5px,
    margin: 0 5px,
  ),
  background: (
    default: functions.palette($colors, gray, light),
    hover: functions.palette($colors, gray, medium),
  ),
  border: (
    color: functions.palette($colors, gray, dark),
    width: 1px,
  ),
  link: (
    active: functions.palette($colors, gray, dark),
    inactive: functions.palette($colors, blue, medium),
  ),
);
